<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        div>ul>ul>li{
            display: inline-block;
        }
        div>ul>li{
            margin-top: 20px;
        }
        div>ul>ul{
            border: 1px solid #dddddd;
            padding-inline-start: 0;
            margin-inline-start: 40px;
        }
    </style>
</head>
<body>
    <div style="padding:20px 0 0 50px; float: left;">
        <div>
            <h3>欢迎登录</h3>
            <span>姓名:</span>
            <span shiro:principal=""></span>
        </div>
        <div style="display: inline-block;">
            <div>
                <form method="post" th:action="@{/register}">
                    <input type="submit" value="账号注册">
                </form>
            </div>
            <div style="padding-top: 20px;">
                <a th:href="@{/sys/logout}">退出登陆</a>
            </div>
        </div>
        <div style="padding-top: 20px;">
            <form>
                <p>
                    <input type="file" name="file" id="file">
                </p>
                <p>
                    <input type="button" value="上传文件" onclick="upload_file();">
                </p>
            </form>
        </div>
    </div>

    <div style="padding: 20px 0 0 50px; float: left;">
        <h3>菜单列表：</h3>
        <ul>
            <li shiro:hasPermission="system:view">系统管理</li>
            <ul>
                <li shiro:hasPermission="system:import">
                    <a href="/system/import">导入</a>
                </li>
                <li shiro:hasPermission="system:delete">
                    <a href="/system/delete">删除</a>
                </li>
                <li shiro:hasPermission="system:update">
                    <a href="/system/update">修改</a>
                </li>
                <li shiro:hasPermission="system:select">
                    <a href="/system/select">查询</a>
                </li>
            </ul>
            <li shiro:hasPermission="teacher:view">教师管理</li>
            <ul>
                <li shiro:hasPermission="teacher:insert">新增</li>
                <li shiro:hasPermission="teacher:export">导出</li>
                <li shiro:hasPermission="teacher:select">查询</li>
                <li shiro:hasPermission="teacher:update">编辑</li>
            </ul>
            <li shiro:hasPermission="student:view">学生管理</li>
            <ul>
                <li shiro:hasPermission="student:insert">新增</li>
                <li shiro:hasPermission="student:delete">删除</li>
                <li shiro:hasPermission="student:select">查询</li>
                <li shiro:hasPermission="student:update">编辑</li>
            </ul>
            <li shiro:hasPermission="class:view">班级管理</li>
            <ul>
                <li shiro:hasPermission="class:insert">新增</li>
                <li shiro:hasPermission="class:delete">删除</li>
                <li shiro:hasPermission="class:select">查询</li>
                <li shiro:hasPermission="class:update">修改</li>
            </ul>
            <li shiro:hasPermission="pay:view">缴费中心</li>
            <ul>
                <li shiro:hasPermission="pay:insert">新增</li>
                <li shiro:hasPermission="pay:delete">删除</li>
                <li shiro:hasPermission="pay:select">查询</li>
                <li shiro:hasPermission="pay:update">修改</li>
            </ul>
            <li shiro:hasPermission="testpaper:view">试卷管理</li>
            <ul>
                <li shiro:hasPermission="testpaper:insert">新增</li>
                <li shiro:hasPermission="testpaper:delete">删除</li>
                <li shiro:hasPermission="testpaper:select">查询</li>
                <li shiro:hasPermission="testpaper:update">修改</li>
            </ul>
            <li shiro:hasPermission="works:view">个人创作</li>
            <ul>
                <li shiro:hasPermission="works:insert">新增</li>
                <li shiro:hasPermission="works:delete">删除</li>
                <li shiro:hasPermission="works:select">查询</li>
                <li shiro:hasPermission="works:update">修改</li>
            </ul>
            <li shiro:hasPermission="operate:view">作业管理</li>
            <ul>
                <li shiro:hasPermission="operate:insert">新增</li>
                <li shiro:hasPermission="operate:delete">删除</li>
                <li shiro:hasPermission="operate:select">查询</li>
                <li shiro:hasPermission="operate:update">修改</li>
            </ul>
            <li shiro:hasPermission="help:view">帮助</li>
            <ul>
                <li shiro:hasPermission="help:insert">新增</li>
                <li shiro:hasPermission="help:delete">删除</li>
                <li shiro:hasPermission="help:select">查询</li>
                <li shiro:hasPermission="help:update">修改</li>
                <li shiro:hasPermission="help:deleteall">批量删除</li>
                <li shiro:hasPermission="help:import">导入</li>
                <li shiro:hasPermission="help:export">导出</li>
                <li shiro:hasPermission="help:enable">启用</li>
            </ul>
        </ul>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script>
    let basePath = window.location.origin;
    function upload_file(){
        let formDate = new FormData();
        formDate.append("fileName","用户信息");
        formDate.append("dateTime",new Date().getTime().toString());
        formDate.append("file",$("#file")[0].files[0]);
        $.ajax({
            url: basePath + "/file/upload",
            type:"POST",
            data:formDate,
            cache: false,
            processData: false,  //不使用默认序列化
            contentType: false,  //不使用默认数据格式化
            success:function(result){

            }
        });
    }
</script>
</html>