<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <div style="text-align: center;">
        <form method="post" action="/sys/register">
            <div style="padding-top: 20px;">
                <span>账号</span>
                <input type="text" name="userName">
            </div>
            <div style="padding-top: 20px;">
                <span>密码</span>
                <input type="password" name="password">
            </div>
            <div style="padding-top: 20px;">
                <input type="submit" value="注册">
                 &emsp;
                <input type="reset" value="取消">
            </div>
        </form>
    </div>
</body>
</html>